/*
规则：
  1、以$开头+自定义命名_样式名称
  2、都以小驼峰名称
  3、为方便维护不允许在scss文件夹以外使用变量,可以在scss文件内定义一个样式,在该选择器内使用变量来间接使用变量
*/

// 字体大小
$mainText_fontSize: 16px; // 正文字体大小
$h1_fontSize: 24px; // 1级标题字体大小
$h2_fontSize: 22px; // 2级标题字体大小
$h3_fontSize: 20px; // 3级标题字体大小
$h4_fontSize: 18px; // 4级标题字体大小

// 字体颜色
$mainText_color: #000000; // 正文字体颜色
$setAsh_color: #c0c4cc; // 置灰字体颜色
