// 主体字体大小
$-font-size-14: 14px;
// 一级菜单字体大小
$-font-size-24: 24px;
// 二级菜单字体大小
$-font-size-20: 20px;
// 一级标题字体大小
$-font-size-18: 18px;

// 正文字体颜色
$-color-000000: #000000;
// 置灰字体颜色
$-color-C0C4CC: #C0C4CC;